:root {
    --primary-color: #4B0082;
    --secondary-color: #6A0DAD;
    --accent1-color: #9B30FF;
    --accent2-color: #D8BFD8;
    --heading-font: 'Montserrat',sans-serif; ;
    --body-font: 'Roboto',sans-serif;;
}

#course-title {
    display: block;
    text-align: center;
    background-color: var(--accent1-color);
    padding: 20px;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: white;
}
main {
    max-width: 840px;
    margin: 20px auto;
    padding: 0 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

h2 {
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
}

h3 {
    text-align: center;
}

.card {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #fff;
}
.card img {
    max-height: 150px;
    width: auto;
}

.card .me,
.card .country {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
}

.card .country {
    grid-template-columns: 2fr 1fr;
}

.card {
    background-color: white;
    padding: 20px;
}

footer {
    padding: 15px;
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
}