@media screen and (min-width: 600px) {
    nav {
        display: flex;
        flex-direction: row;
    }

    #menu-button {
        display: none
    }

    .container {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}