* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    margin: 0;
    min-width: 600px;
    font-family: "Open Sans",sans-serif;;
}

header,footer{
    background-color: rgb(67, 67, 204);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.wf1 fieldset{
    margin: 2rem 0;
    border: 1px solid grey;
    padding: .5rem 2%;
}

.wf1 label{
    display: block;
    padding-top: 1rem;
    
}

.wf1 div{
    padding-top: 1rem;
}

.wf1 input[type="text"],
[type="date"],
.wf1 select,.wf1 textarea {
    border-radius: 6px;
    padding:.75rem;
    width: 100%;
    max-width: 500px;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 6px;
}

button {
    padding: .8rem;
    width: 96%;
    max-width: 500px;
    margin: -1rem 2% 2rem 2% ;
}

form {
    background-color: rgb(192, 229, 253);
}

.stairs{
    display: flex;
}


/*/form{
    padding: 1rem;
    background-color: rgb(192, 229, 253);
    margin: 1rem;
}

.headings{
    display: block;
    padding: 1rem;
}

input,select,textarea {

    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: rgb(88, 88, 253);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}