@media screen and (min-width: 1000px) {
    .mobile-weather {
        display: none;
    }

    .desktop-weather{
        display: inline;
    }

    .desktop-weather::after {
        display: inline;
        content: " ⛅";
        font-size: 2rem;
        margin-left: 0.5rem;
    }

    .data {
        position: absolute;
        top: 150px;
        left: 20px;
        width: 250px;
    }
    
    .weather {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 250px;
    }
    
    .data,
    .weather {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        margin: 1rem 0;
        }
    
    h2{
        background-color: var(--secundary-color);
        padding: 1rem;
    }
}